<script lang="ts">
interface Props {
// TODO: 定義 props
}

let { }: Props = $props();
</script>

<div class="NAME">
<!-- TODO: 新增元件內容 -->
<p>NAME 元件</p>
</div>

<style>
.NAME {
/* TODO: 新增樣式 */
}
</style>
